html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("./wallpaper.jpg");
  height: 100vh;
  width: 100vw;
}

main {
  background-color: rgba(255, 255, 255, 0.883);
  font-family: "Jost", sans-serif;
  font-size: 100px;
  text-align: center;
  text-shadow: 1px 1px rgba(255, 255, 255, 0.883);
  height: 100vh;
  width: 100vw;
  margin-top: 0;
  margin-left: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

#container {
  height: 450px;
  width: 450px;
  background-color: #0009ab;
  border: 10px solid slategray;
  border-radius: 9px;
  box-shadow: 1px 1px 0.5px black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.cellStyle {
  width: 150px;
  height: 150px;
  line-height: 125px;
  border: 10px solid rgba(255, 255, 255, 0.883);
  color: #de2110;
  font-size: 1fr;
  box-sizing: border-box;
}
